[Desktop Entry]
Name=D5 (Wayland)
Comment=Log in using the Openbox window manager (without a session manager)
Exec=/usr/bin/d5 --session openbox --display wayland
Icon=
Type=Application